<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amha.splay"
    android:versionCode="4"
    android:versionName="0.4 Beta" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <supports-screens
        android:xlargeScreens="false"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label= "@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.amha.splay.SplayMainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.amha.splay.ui.CustomTextActivity"
            android:label="@string/title_activity_new_message"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
                android:noHistory="true">
        </activity>
        <activity
            android:name="com.amha.splay.ui.PreviewActivity"
            android:label="@string/title_activity_preview"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.amha.splay.ui.TextDisplayActivity"
            android:label="@string/title_activity_view_carta"
            android:parentActivityName="com.amha.splay.SplayMainActivity" >
        </activity>
        <activity
            android:name="com.amha.splay.ui.NewSplayActivity"
            android:label="@string/title_activity_custom_color" >
        </activity>
        <activity
            android:name=".ui.TextDisplayViewPager"
            android:label="@string/title_activity_text_display_view_pager"
            android:parentActivityName="com.amha.splay.SplayMainActivity" >
        </activity>
        <activity
            android:name="com.amha.splay.EditActivity"
            android:label="@string/title_activity_edit"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.Holo.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.amha.splay.SplayMainActivity" >
        </activity>
    </application>
</manifest>
